.editing {
	padding-top: 50px;
}

.left {
	height: 100%;
	width: 50vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--editing-left-bg);
	color: var(--main-tx-color);
	overflow-x: hidden;
}

.left a,
.left a:hover {
	color: currentColor;
}

.right {
	margin-left: 50vw;
}
.result-divider {
	color: var(--main-tx-color);
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.result-divider .title {
	font-size: 20px;
}
.result-divider .showMore {
	cursor: pointer;
}
.result-divider .showMore:hover {
	text-decoration: underline;
}
.editing-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 15px;
}
.editing-album img {
	max-width: 100%;
}
